{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "strict": 0,
    "no-var": 2,
    "generator-star-spacing": [2, "after"],
    "object-shorthand": [2, "always"],
    "comma-style": [2, "last"],
    "func-names": 1,
    "new-cap": 1,
    "quotes": [2, "single"],
    "no-unused-vars": 0,
    "comma-dangle": [2, "never"],
    "no-cond-assign": [2, "except-parens"],
    "no-dupe-args": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 0,
    "no-irregular-whitespace": 1,
    "no-reserved-keys": 1,
    "valid-typeof": 1,
    "block-scoped-var": 1,
    "consistent-return": 0,
    "curly": [2, "all"],
    "default-case": 1,
    "eqeqeq": 1,
    "guard-for-in": 1,
    "no-else-return": 1,
    "no-empty-label": 1,
    "no-eq-null": 1,
    "no-param-reassign": 1,
    "no-self-compare": 1,
    "no-throw-literal": 1,
    "wrap-iife": [2, "any"],
  }
}
