$color-wet-asphalt: #34495e;
$color-white: #fff;
$color-accent: #ff4081;


body > div {
  padding: 20px 40px;
}

nav {
  ul {
    margin: 20px 0 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 15px;

    a {
      color: $color-wet-asphalt;
      display: inline-block;
      padding: 8px 10px;
      text-decoration: none;

      &:hover {
        color: darken($color-wet-asphalt, 20%);
      }
    }

    &.current {
      a {
        background: $color-accent;
        color: $color-white;

      }
    }
  }
}

.content {
  background: $color-accent;
  display: inline-block;
  padding: 20px;

  img {
    max-width: 100%;
  }
}
